.btn {
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;

  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  text-shadow: 0 1px 0 #fff;
  background-image: -webkit-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -o-linear-gradient(top, #fff 0%, #e0e0e0 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
  background-image: linear-gradient(to bottom, #fff 0%, #e0e0e0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe0e0e0', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #ccc;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
  color: #333;
  outline: none;
}

.btn-success {
  background-image: -webkit-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -o-linear-gradient(top, #5cb85c 0%, #419641 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5cb85c), to(#419641));
  background-image: linear-gradient(to bottom, #5cb85c 0%, #419641 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff419641', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #3e8f3e;
  color: #fff;
  font-weight: 400;
}

.btn-info {
  background-image: -webkit-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -o-linear-gradient(top, #5bc0de 0%, #2aabd2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#5bc0de), to(#2aabd2));
  background-image: linear-gradient(to bottom, #5bc0de 0%, #2aabd2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff2aabd2', GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  background-repeat: repeat-x;
  border-color: #28a4c9;
  color: #fff;
  font-weight: 400;
}
/*
.header {
  width: 1256px;
  margin: 0 auto;
}

.header-demo {
  width: 100%;
}

.footer {
  width: 1256px;
  margin: 0 auto;
}

.footer-demo {
  width: 100%;
}*/

.content {
  width: 1256px;
  margin: 0 auto;
  padding-top: 21px;
  padding-bottom: 40px;
}

.content__hide {
  display: none;
}

.search-line {
  padding-left: 13px;
  width: 931px;
  display: inline-block;
  vertical-align: top;
}

.search_bg {
  display: inline-block;
  vertical-align: top;
  background-color: #fff1b4;
  padding: 9px 13px;
}

.search_inp {
  display: inline-block;
  vertical-align: top;
  width: 802px;
  line-height: 29px;
  font-size: 17px;
  color: #444;
  padding-left: 7px;
}

.autocomlete {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 802px;
}

.autocomlete_inp {
  width: 100%;
  line-height: 31px;
  font-size: 17px;
  color: #444;
  padding: 0;
  padding-left: 7px;
  outline: none;
  height: 31px;
  border: 1px solid #ccc;
}

.autocomlete_results {
  min-width: 300px;
  max-width: 800px;
  overflow: hidden;
  background-color: #fff;
     left: 2px;
  position: absolute;
  top: 33px;
  z-index: 2;
  border: 1px solid #ccc;
  border-top-color: #d9d9d9;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.autocomlete_result {
  line-height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 400;
  font-size: 17px;
  cursor: pointer;
}

.autocomlete_result__selected {
  background-color: #eee;
}

.autocomlete_result:hover {
  background-color: #eee;
}

.search_searchBtn {
  display: inline-block;
  vertical-align: top;
  line-height: 31px;
  height: 31px;
  padding: 0 20px;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  color: #444;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  cursor: default;
  margin-left: 5px;
  border-left: none;
}

.search_searchBtn:hover {
  background-color: #ececec;
}

.main-content {

  padding-left: 25px;
  margin-top: 25px;
}
.categories {
  display: inline-block;
  vertical-align: top;
  width: 286px;
   margin-right: 20px;
  /*display: none;*/
}
.categories_all {
  line-height: 40px;
  background-color: #fcfeff;
  border-radius: 4px;
  padding:0 10px;
  cursor: pointer;
  border: 1px solid #e1e1e1;
  text-align: center;
  font-size: 17px;
  margin-bottom: 10px;
}
.categories_item {
  cursor: pointer;
  margin-bottom: 10px;
  
}

.categories_decor {
  display: inline-block;
  vertical-align: top;
  height: 32px;
  background-color: #edeced;
  border-radius: 4px;
  width: 52px;
  transition: background-color ease-in 0.2s;
}

.categories_item:hover .categories_decor, .categories_item__select .categories_decor{
  background-color:rgb(168, 182, 219);
}

.categories_name {
  display: inline-block;
  vertical-align: top;
  line-height: 31px;
  padding-left: 12px;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
}

.categories_item:hover .categories_name, .categories_item__select .categories_name{
  text-decoration: underline;
}

.cartlink {
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  margin-top: 14px;
  margin-left: 49px;
}

.cartlink_img {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  margin-right: 5px;
}

.cartlink_text {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #777;
}

.cartlink:hover .cartlink_text{
  color: #444;
  border-bottom: 1px solid;

}


.results {
  display: inline-block;
  vertical-align: top;
  width: 840px;
  margin-left: 80px;
  
  width: 912px;
  margin-left: 0;
}

.result_list-in {
  min-height: 400px;
}

.result_item {
  background-color: #FAFAFA;
  display: inline-block;
  vertical-align: top;
  width: 380px;
  height: 152px;
  border: 1px solid #ddd;
  margin-right: 15px;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 10px;
  font-size: 0;
  transition:all linear 0.2s;
}

.result_item:hover {
  border: 1px solid #c5c5c5;
  background-color: #f9f9f9;
}

.result_item-img-wr {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  height: 150px;
  overflow: hidden;
  position: relative;
  border: 1px solid #eee;
  margin-right: 10px;
}

.result_item-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 148px;
  /* border: 1px solid #eee; */
}

.result_item-info-wr {
  display: inline-block;
  vertical-align: top;
  width: 205px;
  padding-left: 5px;
  height: 100%;
  position: relative;
  
}

.result_item-names-wr {
  text-decoration: none;
}

.result_item-names-wr {

}

.result_item-name {
  font-family:  Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #717171;
  margin-top: 10px;
  margin-bottom: 10px;
  text-decoration: none;
}

.result_item-chod {
  font-family:  Arial, sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 15px;
  color: #717171;  
  text-decoration: none;
}

.result_item-btns {
  position: absolute;
  bottom: 2px;
  left: 4px;
}

/*
 * Директива addtocart для результатов поиска
 */

.addtocart {

}

.result_addtocart .addtocart_addBtn{
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 31px;
  color: #fff;
  background-color: #4964CB;
  width: 100px;
  text-align: center;
  cursor: default;
  opacity: 1;
}

.result_addtocart .addtocart_addBtn__fadeout {
  transtion:opacity 0.4s linear;
  opacity: 0.1;
}

.result_addtocart .addtocart_addBtn__hide {
  display: none;
}

.result_addtocart .addtocart_count-wr {
  background-color: #6EC7EA;
  padding: 0px 8px;
  border-radius: 2px;
  opacity: 0.2;
}

.result_addtocart .addtocart_count-wr__visible {
  opacity: 1;
  transition:opacity 0.1s linear;
}

.result_addtocart .addtocart_count-label {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #FFF9F9;
  line-height: 31px;
  margin-right: 36px;
  text-decoration: none;
}

.result_addtocart .addtocart_count-label:hover {
  text-decoration: underline;
}

.result_addtocart .result-addtocart_count-box {
  display: inline-block;
  vertical-align: top;
  line-height: 26px;
}

.result-addtocart_count-box .count-box_minus {
  display: inline-block;
  vertical-align: top;
  font-size: 33px;
  font-family: Arial, sans-serif;
  color: #fff;
  cursor: default;
  padding: 0 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.result-addtocart_count-box .count-box_inp {
  display: inline-block;
  vertical-align: top;
  width: 26px;
  line-height: 17px;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  outline: none;
  font-weight: 700;
  text-align: center;
  margin-top: 4px;
}

.result-addtocart_count-box .count-box_plus {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-family: Arial, sans-serif;
  cursor: default;
  padding: 0 1px;
  padding-top: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}


.pag ul li{
  display: inline;  
}

.pag ul li a {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pag ul li a:hover{
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.pag ul li.active a {
  z-index: 2;
  color: #fff !important;
  cursor: default;
  background-color: #337ab7 !important;
  border-color: #337ab7 !important;
}



.pag ul li a .sr-only {
  display: none;
}
.pag .btn-group > .btn {
  border-radius: 0;
  border-right: none;
}

.pag .btn-group > .btn:first-child{
  border-top-left-radius: 4px;
  border-bottom-left-radius: px;
}

.pag .btn-group > .btn:last-child{
  border-top-right-radius: 4px;
  border-bottom-right-radius: px;
  border-right: 1px solid #ccc;
}

.pag .btn-group .active {
  background: none;
  background-color: #e0e0e0;
  border-color: #dbdbdb;
}

.pag .text-left {
  display: inline-block;
  vertical-align: top;
}

.pag .text-center {
  display: inline-block;
  vertical-align: top;
  margin-left: 100px;
  margin-top: 40px;
}

.pag .text-right {
  display: inline-block;
  vertical-align: top;
  float: right;
  margin-right: 26px;
  font-family:  Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #717171;  
}

/*
 * СТРАНИЦА ТОВАРА
 */

.ppage {
  display: inline-block;
  vertical-align: top;
  width: 840px;
  margin-left: 80px;
  background-color: #fefefe;
  box-shadow: 0px 0px 3px 1px rgb(233, 233, 233);

  width: 800px;
  margin-left: 0;
}

.ppage-top {
  padding-top: 20px;
  min-height: 200px;
}

.ppage-top_clm1 {
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
  width: 152px;
}

.ppage-top_clm2 {
  display: inline-block;
  vertical-align: top;
  margin-left: 25px;
  width: 274px;
}

.ppage-top_clm3 {
  display: inline-block;
  vertical-align: top;
  margin-right: 26px;
  width: 248px;
  float: right;
}

.ppage-top_photo-wr {
  position: relative;
  width: 230px;
  height: 230px;
  overflow: hidden;
}

.ppage-top_photo {
  width: 150px;
  border:1px solid #ddd;
}

.ppage-top_info-label {
  font-family:  Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #0c3d78;
  padding-bottom: 1px;
  border-bottom: 1px solid #0c3d78;
  display: inline-block;
  margin-bottom: 4px;
}

.ppage-top_info-val {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 35px;
  margin-bottom: 15px;
  color: #717171;
}

.product-top_price-wr {
  padding: 24px 10px;
  background-color: #F5F5F5;
  padding-bottom: 10px;
  
}

.ppage-top_price-label {
  font-family:  Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #0c3d78;
  padding-bottom: 1px;
  border-bottom: 1px solid #0c3d78;
  display: inline-block;
  margin-bottom: 4px;
  margin-left: 4px;
}

.ppage-top_price-val {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 35px;
  margin-bottom: 23px;
  color: #717171;
  margin-left: 40px;
}

.ppage-top_btn {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  
  width: 225px;
  text-align: center;
  line-height: 45px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 8px;
  cursor: default;
  transition:all linear 0.2s;
}

.ppage-top_btn:hover {
  opacity: 0.6;
}

.ppage-top_btn__1 {
  color: #CE0505;
  background-color: #fed519;
  margin-bottom: 18px;
  /*! margin-left: -57px; */
  width: 243px;

  display: none;
}
.ppage-top_btn__2 {
  background-color: rgb(46, 158, 195);
  color: rgb(255, 255, 255);  
  display: inline-block;
  vertical-align: top;
  width: 105px;
  line-height: 30px;
  margin-top: 23px;
}

.ppage-top_btn__3 {
  background-color: rgb(46, 158, 195);
  color: rgb(255, 255, 255);  
  display: inline-block;
  vertical-align: top;
  width: 105px;
  line-height: 30px;
  float: right;
  margin-top: 23px;
}

.ppage-top_btn__4 {
  background-color: rgb(198, 198, 198);
  color: rgb(255, 255, 255);  
  line-height: 30px;
  margin-top: 6px;
}

.ppage-top_btn__buybtn{
  width: 211px;
  background-color: #34B23E;
  color: #fff;
  font-weight: 400;
  line-height: 19px;
  padding: 11px 8px;
  font-size: 17px;
  margin-bottom: 0;
  margin-top: 10px;
}

.ppage-top_btn__buybtn:hover {
  opacity: 1;
  background-color: #34B23E;
}

.ppage-top_btn__buybtn-i {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  float: left;
  margin-left: 5px;
}

.ppage-top_btn__buybtn-t {
  display: inline-block;
  vertical-align: top;
  margin-right: 13px;
}

/*
 * Директива addtocart для страницы товара
 */

.ppage_addtocart{

}

.ppage_addtocart .addtocart_addBtn{
  width: 211px;
  background-color: #5F79FC;
  color: #fff;
  font-weight: 400;
  line-height: 19px;
  padding: 11px 8px;
  font-size: 17px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  text-align: center;
  cursor: default;
  opacity: 1;
}

.ppage_addtocart .addtocart_addBtn__fadeout {
  transtion:opacity 0.4s linear;
  opacity: 0.1;
}

.ppage_addtocart .addtocart_addBtn__hide {
  display: none;
}

.addtocart_addBtn-text {
  display: inline-block;
  vertical-align: top;
}

.ppage_addtocart  .addtocart_addBtn-img {
  display: inline-block;
  vertical-align: top;
  width: 20px;
  float: left;
  margin-left: 5px;
}

.ppage_addtocart .addtocart_count-wr {
  background-color: #6EC7EA;
  padding: 10px 8px;
  border-radius: 4px;
  opacity: 0.2;
}

.ppage_addtocart .addtocart_count-wr__visible {
  opacity: 1;
  transition:opacity 0.1s linear;
}

.ppage_addtocart .addtocart_count-label {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #FFF9F9;
  line-height: 36px;
  margin-right: 50px;
  text-decoration: none;
}

.ppage_addtocart .addtocart_count-label:hover {
  text-decoration: underline;
}

.ppage_addtocart .ppage-addtocart_count-box {
  display: inline-block;
  vertical-align: top;
  line-height: 33px;
}

.ppage-addtocart_count-box .count-box_minus {
  display: inline-block;
  vertical-align: top;
  font-size: 33px;
  font-family: Arial, sans-serif;
  color: #fff;
  cursor: default;
  padding: 0 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.ppage-addtocart_count-box .count-box_inp {
  display: inline-block;
  vertical-align: top;
  width: 33px;
  line-height: 24px;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  outline: none;
  font-weight: 700;
  text-align: center;
  margin-top: 4px;
}

.ppage-addtocart_count-box .count-box_plus {
  color: #fff;
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-family: Arial, sans-serif;
  cursor: default;
  padding: 0 1px;
  padding-top: 2px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/*
.ppage-price {
  margin-left: 20px;
  margin-top: 20px;
}

.ppage-price_label {
  display: inline-block;
  vertical-align: top;
  font-family:  Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #787878;
  padding-bottom: 1px;
  border-bottom: 1px solid #CECCCC;  
}

.ppage-price_val {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  margin-left: 15px;
  color: #717171;
}
*/

.ppage-discr {
  padding:20px;
  
}

.ppage-discr_title {
  font-family: Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #0c3d78;
  padding-bottom: 1px;
  border-bottom: 1px solid #0c3d78;
  display: inline-block;
  margin-bottom: 10px;
}

.ppage-discr_text {
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  margin-bottom: 15px;
  color: #717171;
  padding-left: 5px;
}

.ppage-oinfo {
  padding:20px;
  width: 535px;
  padding-top: 0;
}

.ppage-oinfo_line {
  margin-bottom: 10px;
}

.ppage-oinfo_line__stocks {
  margin-top: 45px;
}

.ppage-oinfo_label {
  display: inline-block;
  vertical-align: top;
  font-family:  Arial, sans-serif;
  font-weight: 300;
  font-size: 17px;
  color: #787878;
  padding-bottom: 1px;
  /*! border-bottom: 1px solid #CECCCC; */
  display: inline-block;  
  width: 115px;
  /*! text-align: right; */
}

.ppage-oinfo_val {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #787878;
  margin-left: 10px;
}

.ppage-stocks {

}

.ppage-stocks_row {
  line-height: 30px;
}

.ppage-stocks_city {
  display: inline-block;
  vertical-align: top;
  width: 150px;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
}  

.ppage-stocks_inStock {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.ppage-stocks_yes {  
  background-image: url('/catalog/img/success.png');
  background-position: 0 7px;
  background-repeat: no-repeat;
  padding-left: 21px;
  color: #39C117;
}

.ppage-stocks_confirm {
  color: #2E9EC3;
  cursor: pointer;
  text-decoration: underline;
}

.ppage-stocks_inChe {
    background-image: url('/catalog/img/success_inChe.png');
    background-position: 0 7px;
    background-repeat: no-repeat;
    padding-left: 21px;
    color: #0081F1;
}


.ppage-similar {
  padding: 20px 0px 0px 27px;
  background-color: #f5f4fc;
  margin-top: 40px;

  display: none;
}

.ppage-similar_title {
  
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #787878;
  /*!  */
  /*!  */
  margin-bottom: 25px;
}

.ppage-similar_item {
  display: inline-block;
  vertical-align: top;
  width: 355px;
  height: 137px;
  border: 1px solid #ddd;
  margin-right: 25px;
  margin-bottom: 20px;
  border-radius: 2px;
  padding: 10px;
  transition:all linear 0.2s;
  background-color: #fff;
  border-radius: 2px;
}

.ppage-similar_item:hover {
  border: 1px solid #c5c5c5;
  background-color: #fafce8;
}

.ppage-similar_item-img-wr {
  display: inline-block;
  vertical-align: top;
  width: 130px;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.ppage-similar_item-img {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
}

.ppage-similar_item-info-wr {
  display: inline-block;
  vertical-align: top;
  width: 200px;
  padding-left: 10px;
  padding-top: 10px;
}

.ppage-similar_item-name {
  font-family:  Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  margin-bottom: 5px;
}

.ppage-similar_item-chod {
  font-family:  Arial, sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 35px;
}

.cat-contact-form {
  position: fixed;
  top: 15%;
  left: 50%;
  margin-left: -200px;
  width: 400px;
  background-color: #F6F6F6;
  border-radius: 2px;
  border: 1px solid #ccc;
  z-index: 11;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 17px;
}

.cc-form-bg {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30,30,30,0.8);
  z-index: 10;
}

.cc-form {
  width: 100%;
  height: 100%;
}

.cc-form_close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 20px;
  cursor: default;
  opacity: 0.6;
}

.cc-form_close:hover {
  opacity: 1;
}

.cc-form_head {
    margin-top: 20px;
    padding-left: 17px;
}

.cc-form_mode {
    font-family: Arial,sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #444;
    margin-bottom: 10px;
}

.cc-form_product {
    font-family: Arial,sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: #444;
    padding-left: 10px;
}

.cc-form_info {
  font-family: Arial,sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: #444;
  margin-top: 20px;
  margin-bottom: 25px;
  padding-left: 18px;
}

.cc-form_line {
  margin-bottom: 5px;
  padding-left: 18px;
}

.cc-form_label {
  display: inline-block;
  vertical-align: top;
  font-family: Arial,sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #444;
  width: 89px;
  line-height: 30px;
  margin-right: 10px;
}

.cc-form_required {
  display: inline-block;
  vertical-align: top;
  float: right;
  font-family: Arial,sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: red;
  line-height: 30px;
  margin-right: 21px;
}

.cc-form_val {
  display: block;
  font-family: Arial,sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #444;
  border: 1px solid #ccc;
  line-height: 30px;
  padding-left: 5px;
  width: 355px;
  border-radius: 2px;
}

.cc-form_val__error {
  border-color: red;
}

.cc-form_text {
  display: inline-block;
  vertical-align: top;
  font-family: Arial,sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #444;
  border: 1px solid #ccc;
  padding: 5px;
  width: 348px;
  height: 80px;
  border-radius: 2px;  
  resize:none;
}

.cc-form_sendBtn {
  font-family: Arial,sans-serif;
  width: 148px;
  background-color: #5F79FC;
  color: #fff;
  font-weight: 400;
  line-height: 35px;
  font-size: 16px;
  text-align: center;
  border-radius: 2px;
  margin-left: 18px;
  margin-top: 14px;
}

.cc-form_sendBtn:hover{
  background-color: #3D5CF7;
}

.cc-form-suc {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #F6F6F6;
  z-index: 1;
}

.cc-from-suc_text {
  font-family: Arial,sans-serif;
  font-weight: 400;
  font-size: 25px;
  color: #444;
  margin-top: 185px;
  text-align: center;
}

.cc-form-suc_closeBtn {
  font-family: Arial,sans-serif;
  width: 189px;
  background-color: #5F79FC;
  color: #fff;
  font-weight: 400;
  line-height: 32px;
  padding: 3px 8px;
  font-size: 18px;
  text-align: center;
  border-radius: 2px;
  margin-left: 103px;
  margin-top: 54px;
  cursor: default;
}

.cc-form-suc_closeBtn:hover{
  background-color: #3D5CF7;
}


/*
 * Форма завки на покупку товара
 */

/*
 * СТРАНИЦА ИМПОРТА
 */

.importpage {
  padding: 0 30px;
}

.import-title {
  font-family:  Arial, sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: #444;
}

.import-ctrl {
  margin-top: 40px;
}

.import-ctrl_filename {
  display: inline-block;
  vertical-align: top;
  font-family:  Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  color: #444;
  line-height: 30px;
  margin-right: 15px;
}

.import-ctrl_fileLoadBtn {

}

.import-ctrl_loading {
  width: 20px;
}

.import-ctrl_startImportBtn {
  margin-left: 15px;
}

.import-ctrl_importing {
  width: 20px;
  margin-left: 10px;
}

.import-results {
  margin-top: 20px;
  padding-left: 20px;
  font-size: 17px;
}

.waitBox {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(240,240,240,0.9);
}
.waitBox_text {
  font-family:  Arial, sans-serif;
  margin-top: 10%;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
  color: #444;
}

.waitBox_img {
  width: 80px;
  display: block;
  margin: 0 auto;
  margin-top: 10%;
}

.waitBox_close {
  position: absolute;
  left: 50%;
  margin-left: -40px;
  margin-top: 10%;
}

.adminpanel {
  width: 1180px;
  margin: 0 20px;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  background-color: #F0F1FF;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 20px;
}

.ap_title {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 13px;
  color: #333;
}

.ap_logout {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  float: right;
  color: #037ABF;

}

.errorPage {
  width: 100%;
  min-height: 400px;
  margin-top: -34px;
  background-color: #F9F9F9;
  position: relative;
}

.errorPage_title {
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: 94px;
  top: 40px;
  left: 40px;
  position: absolute;
  color: #ccc;
}

.errorPage_message {
  position: absolute;
  top: 167px;
  left: 66px;
  font-family: Arial, sans-serif;
  font-size: 18px;
  color: #777;
}


/*
 * СТРАНИЦА КОРЗИНЫ
 */

.cart-editor {
  visibility: visible;
  opacity: 1;
}

.cart-editor__hide {
  opacity: 0;  
  transition:opacity 0.3s linear;
}

.cart-editor__hide-full {
  display: none;
}

.cart-title {
  font-family: Arial, sans-serif;
  color: #777;
  font-size: 29px;
  font-weight: 400;
  margin-left: 40px;
}

.cart-products {
  margin-left: 40px;
  margin-top: 40px;
  display: inline-block;
  min-height: 600px; 
}

.cart-products__empty{
  min-width: 716px;
  background-color: #F8F8F8;
}

.cart-products_item {
  padding: 14px 13px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #eee;
}

.cart-products_item-photo {
  display: inline-block;
  vertical-align: top;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  margin-right: 30px;
}

.cart-products_item-photo-img {
  position: absolute;
  top:0;
  left: 0;
  width: 100px;
}

.cart-products_item-chodname {
  display: inline-block;
  vertical-align: top;
  width: 300px;
}

.cart-products_item-chodname-inner {
  display: table-cell;
  width: 100%;
  height: 100px;
  vertical-align: middle;
}

.cart-products_item-chodname-text {
  font-family: Arial, sans-serif;
  color: #777;
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
}

.cart-products_item-count {
  display: inline-block;
  vertical-align: top;
  padding-top: 26px;
  margin-right: 50px;
}

.count-box {
  line-height: 24px;
  
}



.count-box .count-box_minus {
  display: inline-block;
  vertical-align: top;
  font-size: 33px;
  font-family: Arial, sans-serif;
  cursor: default;
  padding: 0 2px;
   -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.count-box .count-box_inp {
  display: inline-block;
  vertical-align: top;
  width: 29px;
  line-height: 25px;
  border: 2px solid #0079FB;
  border-radius: 5px;
  outline: none;
  font-weight: 700;
  text-align: center;
}

.count-box .count-box_plus {
  display: inline-block;
  vertical-align: top;
  font-size: 25px;
  font-family: Arial, sans-serif;
  cursor: default;
  padding: 0 1px;
  padding-top: 2px;
   -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
   -khtml-user-select: none; /* Konqueror */
     -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}

.cart-products_item-price {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  color: #777;
  font-size: 20px;
  font-weight: 400;
  padding-top: 26px;
  width: 160px;
}

.cart-products_item-delete {
  display: inline-block;
  vertical-align: top;
}

.cart-products_item-delete-img {
  width: 22px;
  cursor: default;
  margin-top: 28px;
  opacity: 0.8;
}

.cart-products_item-delete-img:hover {
  opacity: 1;
}

.cart-products_clearAllBtn {
  display: inline-block;
  background-color: #9A9A9A;
  line-height: 33px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding: 0 20px;
  cursor: default;
  margin-top: 10px;
  float:right;
}

.cart-products_clearAllBtn:hover {
  background-color: #FFAE1A;
}

.cart-products_emptyCartLabel {
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  color: #C0BFBF;
  margin-top: 313px;
  margin-left: 300px;
}

.cart-requisition {

}

.cart-requisition__init {
  position: absolute;
  top: 386px !important;
  width: 300px;
  left: 50%;
  margin-left: 240px;
}

.cart-requisition__fixed-top {
  position: fixed;
  top: 22px !important;
  width: 300px;
  left: 50%;
  margin-left: 240px;
}

.cart-requisition__fixed-bottom {
  position: absolute;
  width: 300px;
  left: 50%;
  margin-left: 240px;
}

.cart-req_sumTotal {
  margin-bottom: 20px;
}

.cart-req_sumTotal-label {
  font-family: Arial, sans-serif;
  color: #777;
  font-size: 19px;
  font-weight: 300;
}

.cart-req_sumTotal-val {
  font-family: Arial, sans-serif;
  color: #777;
  font-size: 22px;
  font-weight: 700;
}

.cart-req_title {
  font-family: Arial, sans-serif;
  color: #777;
  font-size: 19px;
  font-weight: 400;
  margin-bottom: 20px;
}

.cart-req_label {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  color: #777;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.cart-req_required {
  display: inline-block;
  vertical-align: top;
  font-family: Arial, sans-serif;
  color: #DC0000;
  font-size: 12px;
  font-weight: 700;
  float: right;
  visibility: hidden;
  opacity: 0;  
}

.cart-req_required__visible {
  opacity: 1;
  visibility: visible;
  transition:opacity 0.3s linear;
}

.cart-req_inp {
  width: 299px;
  line-height: 30px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding-left: 10px;
  background-color: #FBFCFE;
  outline: none;
  margin-bottom: 15px;
}

.cart-req_inp__error{
  background-color: #FFD4CA;
  transition:background-color 0.3s linear;
}

.cart-req_text {
  width: 299px;
  height: 200px;
  resize:none;
  border-radius: 4px;
  border: 1px solid #ddd;
  background-color: #FBFCFE;
  padding: 5px;
  outline: none;
}

.cart-req_sendBtn {
  display: inline-block;
  vertical-align: top;
  background-color: #4775b9;
  line-height: 33px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding: 0 20px;
  cursor: default;
  margin-top: 10px;
}

.cart-req_sendBtn:hover {
  background-color: #29D7FF;
}

.cart-req_emptyCartWarning {
  display: inline-block;
  vertical-align: top;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 400;
  color: #F76D6D;
  float: right;
  margin-top: 15px;
  margin-right: 13px;
  visibility: hidden;
  opacity: 0;
  transition:opacity 0.3s linear;
}

.cart-req_emptyCartWarning__visible {
  visibility: visible;
  opacity: 1;  
}

.cart-req_process-send {
  position: absolute;
  top: 30px;
  left: 0;  
  height: 511px;
  background-color: rgba(255,255,255,0.9);
  width: 0;
  opacity: 0;
  overflow: hidden;
}

.cart-req_process-send__visible {
  width: 320px;
  opacity: 1;
  transition:opacity 0.3s linear;
}

.cart-req_process-send-img {
  position: absolute;
  bottom: 2px;
  right: 146px;
  width: 30px;
}

.cart-success {
  text-align: center;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.cart-success__visible {
  height: 500px;
  opacity: 1;
  visibility: visible;
  transition:opacity 0.3s linear;
}

.cart-success_title {
  font-family: Arial;
  font-weight: 700;
  color: #6D6D6D;
  font-size: 34px;
  margin-top: 50px;
}

.cart-success_text {
  font-family: Arial;
  font-weight: 400;
  color: #444;
  font-size: 17px;
  margin-top: 10px;  
}

.cart-success_backBtn {
  display: inline-block;
  background-color: #4775b9;
  line-height: 33px;
  font-family: "Roboto";
  font-size: 17px;
  font-weight: 400;
  color: #fff;
  padding: 0 20px;
  cursor: default;
  margin-top: 49px;
  cursor: default;
  text-decoration: none;
}

.cart-success_backBtn:hover {
  background-color: #29D7FF;
}

.update-browser {
  background-color: #F8F8F8;
  height: 400px;
  display: none;
}

.update-browser__visible {
  display: block;
}

.update-browser_block {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  padding-top: 40px;
}

.update-browser_title {
  font-family: Arial;
  font-weight: 700;
  color: #6D6D6D;
  font-size: 34px;

}

.update-browser_info {
  font-family: Arial;
  font-weight: 400;
  color: #6D6D6D;
  font-size: 18px;
  margin-top: 20px;
}

.update-browser_items {
  margin-top: 50px;
  text-align: center;
}

.update-browser_item {
  display: block;
  float: left;
  cursor: pointer;
  width: 100px;
  margin-right: 30px;
}

.update-browser_item-img {
  background-image: url('../img/browsers.png');
  background-repeat: no-repeat;  
  width: 80px;
  height: 80px;
  margin-left: 10px;
}

.update-browser_item-img__chrome {
  background-position: 0 -165px;
}

.update-browser_item-img__firefox {
  background-position: 0 -83px;
}

.update-browser_item-img__opera {
  background-position: 0 -249px;
}


.update-browser_item-title {
  font-family: Arial;
  font-weight: 400;
  color: #6D6D6D;
  font-size: 17px;
  text-align: center;
  margin-top: 10px;
}
